.option-container {
  margin-bottom: 15px;

  .material-icons {
    font-size: 22px;
    vertical-align: middle;
    color: #ad0000;
    cursor: default;
  }

  .error-msg {
    color: red;
  }
}

#poll-question {
  height: 32px;
  margin-bottom: 5px;
}

.locked {
  background-color: '#EED179';
}

.footer {
  display: flex;
  flex-direction: row;
  font-weight: 600;

  .message {
    flex: 1;
  }

  .btn-holder {
    margin-right: 5px;
  }
}
