.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 900;
  padding: 7px 0;
  text-shadow: 2px 2px 4px #000000;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
