.section {
  padding: 10px;
  flex: 1;

  .section-title {
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 10px;
    color: #EED179;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
